* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#intro-container {
  position: fixed;
  width: 100%;
  height: 100%;
  background: black;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Play button */
#playBtn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 15px 40px;
  font-size: 18px;
  border-radius: 30px;
  border: none;
  background: rgba(0, 0, 0, 0.75);
  color: white;
  cursor: pointer;
}

/* Sign in box */
#signInBox {
  position: absolute;
  bottom: 12%;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.75);
  padding: 25px 40px;
  border-radius: 12px;
  text-align: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 1s ease;
}

#signInBox h2 {
  color: white;
  margin-bottom: 15px;
}

#signInBtn {
  padding: 12px 36px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 25px;
  border: none;
  cursor: pointer;

  background-color: #e50914; /* red */
  color: white;

  transition: background-color 0.3s ease, transform 0.2s ease;
}

#signInBtn {
  box-shadow: 0 0 15px rgba(229, 9, 20, 0.6);
}


#signInBtn:hover {
  background-color: #f40612;
  transform: scale(1.05);
}
